<h1 align="center">Calendar Problem</h1>

<h3> Description </h3>

In this example we are going to customize __2_MeetingProblem__ ( or  [example (3.7)](https://www.cs.utexas.edu/users/vl/teaching/lbai/clingo_guide.pdf#subsubsection.3.1.8)).
Instead of finding the right date for a meeting, we are going to find a time schedule for university classes.
In order to do this, we will need to provide the regular starting times of lessons and when each member
of the university staff (professors) will be able to teach. Our results will be several timetables.



<h4> Lesson times </h4>

Lessons | Start | End
--- | --- | ---
1 | 08:00 | 08:45
2 | 08:45 | 09:30
3 | 09:40 | 10:25
4 | 10:25 | 11:10
5 | 11:20 | 12:05
6 | 12:05 | 12:50
7 | 12:50 | 13:35
8 | 13:35 | 14:20
9 | 14:30 | 15:15
10 | 15:15 | 16:00
11 | 16:10 | 16:55
12 | 16:55 | 17:40
13 | 17:50 | 18:35
14 | 18:35 | 19:20
15 | 19:30 | 20:15
16 | 20:15 | 21:00



<h3> Clingo </h3>

<h4> Atoms / Variables </h4>

<blockquote>


<CLINGO

    % DONT write subjects in caps "SWE", "MAT"

    available(swe,800). available(swe,940).
    available(mat,800). available(mat,1120).
    available(inn,1750). available(inn,1120).
    available(bes,1750). available(bes,1120).

CLINGO>

</blockquote>


<h4> Rules </h4>

<blockquote>

<CLINGO

    { termin(X1,Y1) } :- available(X1,Y1).

    :- termin(X1,Y1), termin(X1,Y2), Y1!=Y2.
    :- termin(X1,Y1), termin(X2,Y1), X1!=X2.

    :- not #count{X : termin(X,Y)} > 2.     % DONT forget adjusting this value to the number of subjects

CLINGO>

</blockquote>


<h4> Generating </h4>

<blockquote>

<CLINGO

    #show termin/2.

CLINGO>

</blockquote>

In [1]:
%load_ext autoreload
%autoreload 2

from pythonclingointerface import clingo_interface as ci

import pandas as pd
import numpy as np


interface = ci.ClingoInterface()
interface.checkParenthesis()
# interface.printSolutions()

solution = interface.getSolutions()["Unknown"]

times = list()
subjects = list()
numpyarray = np.array(times)

for i, timetables in enumerate(solution,1):
    for lesson in timetables:
        digits ="".join(char for char in lesson if char.isdigit())
        time = digits[:-2] + ':' + digits[-2:]    # changing format string(1000) -> string(10:00)
        times.append(time)
        subjects.append(lesson[lesson.find('(')+1 : lesson.find(",")])  # getting "swe" from termin(swe,900)

    numpyarray = np.array(list(zip(subjects, times)))

    df = pd.DataFrame(data = numpyarray, columns = ["Subjects", "Times"])
    df['Times'] = pd.to_datetime(df['Times'], format= '%H:%M').dt.time   # ".dt.time" only shows time/hides date
    df = df.sort_values(by='Times')

    df.style.set_table_attributes("style='display:inline'").set_caption("Timetable " + str(i))  # adding title to dataframe

    display(df)

    times.clear()
    subjects.clear()

TestID:
174
ClingoInterface: scanning CalendarProblem.ipynb
['D:\\Users\\Q\\PycharmProjects\\PythonClingo_Interface\\examples\\CalendarProblem.ipynb']
Reading File:  D:\Users\Q\PycharmProjects\PythonClingo_Interface\examples\CalendarProblem.ipynb
Found Clingo Parenthesis in File:  D:\Users\Q\PycharmProjects\PythonClingo_Interface\examples\CalendarProblem.ipynb

  Subjects     Times
0      mat  08:00:00
1      inn  11:20:00
2      bes  17:50:00

  Subjects     Times
0      mat  08:00:00
2      bes  11:20:00
1      inn  17:50:00

  Subjects     Times
1      mat  08:00:00
0      swe  09:40:00
2      inn  17:50:00

  Subjects     Times
1      mat  08:00:00
0      swe  09:40:00
2      inn  11:20:00

  Subjects     Times
0      swe  09:40:00
1      mat  11:20:00
2      inn  17:50:00

  Subjects     Times
0      swe  08:00:00
1      mat  11:20:00
2      inn  17:50:00

  Subjects     Times
1      mat  08:00:00
0      swe  09:40:00
2      bes  17:50:00

  Subjects     Times
0      swe  09:40:00
1      mat  11:20:00
2      bes  17:50:00

  Subjects     Times
0      swe  08:00:00
1      mat  11:20:00
2      bes  17:50:00

  Subjects     Times
1      mat  08:00:00
0      swe  09:40:00
2      bes  11:20:00

  Subjects     Times
0      swe  09:40:00
2      bes  11:20:00
1      inn  17:50:00

  Subjects     Times
0      swe  08:00:00
2      bes  11:20:00
1      inn  17:50:00

  Subjects     Times
0      swe  09:40:00
1      inn  11:20:00
2      bes  17:50:00

  Subjects     Times
0      swe  08:00:00
1      inn  11:20:00
2      bes  17:50:00

  Subjects     Times
1      mat  08:00:00
0      swe  09:40:00
3      bes  11:20:00
2      inn  17:50:00

  Subjects     Times
1      mat  08:00:00
0      swe  09:40:00
2      inn  11:20:00
3      bes  17:50:00